*{
    margin-bottom:auto;
    padding-left: 35px;
}

.Controls{
    display: flex;
}

.Button2{
    width: auto;
    height: auto;
}

.Counter{
    display: grid;
    place-items: center;
    
}

.btn{
    width: auto;
}

.carditem{
    background-color: rgba(0, 0, 0, 0.1);
    margin-right: 100px;
    margin-left: auto;
}

.info{
    color: whitesmoke;
    font-size: 15px;
}

.details{
    display: flex;
}

.Option{
    text-decoration: none;
    color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.397);
}